@media (min-width: 1440px) {
    body {
        padding-left: 10%;
        padding-right: 10%;
    }

    .menu-btn {
        display: none;
    }

    .nav-links {
        all: unset;

        display: flex;
    }

    .nav-links li {
        margin: 0 .5rem;
    }

    
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}