@media (min-width: 1440px) {
    body {
        margin: 0 10%;
    }

    header {
        margin: 3.5rem 0 2.5rem;
        padding: .5rem 0;
    }
        .logo img {
            width: 120%;
        }
        .nav-links {
            all: unset;
            display: flex;
        }
        .nav-links li {
            margin-left: 3.25rem;
        }
        .nav-links a {
            font-size: 1.25rem;
            /* margin-left: 1.5rem; */
        }
        #menuBtn {
            display: none;
        }
        

    /* .nav-links {
        all: unset;

        display: flex;
    } */

    /* .nav-links li {
        margin: 0 .5rem;
    } */
    
    section.headline {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 5fr 3fr;
        grid-gap: 2rem;
    }
        .headline figure {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
            .headline figure img {
                height: 100%;

            }
        .headline .title {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }
            .headline .title h1 {
                font-size: 4.5rem;
                margin: 0;
            }
            .headline .title button {
                margin-bottom: 0;
                margin-top: 3rem;
            }

            /* aside p {
                line-height: 1.5;
            } */
            
        .headline aside {
            margin: 0;
            /* margin-bottom: 2rem; */
            padding: 1.5rem 2rem 0;
            /* padding-bottom: 0; */
            grid-column: 3 / 4;
            grid-row: 1 / 3;
        }
        .headline aside .aside-title {
            font-size: 3.25rem;
        }
        .headline aside h3 {
            font-size: 1.7rem;
        }
        .headline aside p {
            font-size: 1.2rem;
        }

        .headline .title p {
            font-size: 1.25rem;
        }

    .articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        margin-top: 2rem;
    }
        .articles article .numb {
            font-size: 2.6rem;
        }
        .articles article h2 {
            font-size: 1.5rem;
        }
        .articles article p {
            font-size: 1.25rem;
        }
        .articles article img {
            height: 90%;
        }

        .articles article {
            grid-template-columns: 2fr 5fr;
            grid-gap: 2rem;
            margin: 1.5rem 0;
        }
}